<% layout('layouts/boilerplate')%>

<div class="container">
    <h1>Contact Your Mentor</h1>
    <form method="POST" id="edit-form" action="/students/edit?_method=PUT">
        <div class="mb-3">
            <input type="text" class="form-control" name="name" value="<%= student.name %>" placeholder="Enter Name">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="registrationNumber" value="<%= student.registrationNumber %>" placeholder="Enter registrationNumber">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="rollNumber" value="<%= student.rollNumber %>" placeholder="Enter rollNumber">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="branch" value="<%= student.branch %>" placeholder="Enter branch">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="year" value="<%= student.year %>" placeholder="Enter Year">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" name="email" value="<%= student.email %>" placeholder="Enter Email">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" name="phoneNumber" value="<%= student.phoneNumber %>" placeholder="Enter phoneNumber">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="street" value="<%= student.street %>" placeholder="Enter Street">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="landmark" value="<%= student.landmark %>" placeholder="Enter Landmark">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="city" value="<%= student.city %>" placeholder="Enter City">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="state" value="<%= student.state %>" placeholder="Enter State">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="country" value="<%= student.country %>" placeholder="Enter Country">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Edit</button>
    </form>
</div>