<% layout('layouts/boilerplate')%>

<section>
  <div class="main-profile">
    <div class="container main-container">
      <div class="profile-body">
        <div class="row">
          <div class="col-md-6 student-profile">
            <h1 class="heading"><%= student.name %></h1>
            <ul>
              <li><span>Registration Number: </span><%= student.registrationNumber %></li>
              <li><span>Roll Number: </span><%= student.rollNumber %></li>
              <li><span>Year: </span><%= student.year %></li>
              <li><span>Branch: </span><%= student.branch %></li>
              <li><span>Phone Number: </span><%= student.phoneNumber %></li>
              <li><span>Email: </span><%= student.email %></li>
              <li><span>Address:</span>
                <ul>
                  <li><span>Street: </span><%= student.street %></li>
                  <li><span>Landmark: </span><%= student.landmark %></li>
                  <li><span>City: </span><%= student.city %></li>
                  <li><span>State: </span><%= student.state %></li>
                  <li><span>Country: </span><%= student.country %></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-md-6 faculty text-center">
            <div class="mentor-profile">
              <h1 class="heading">Mentor's Name</h1>
              <ul>
                <li><span>Email:</span>johndoe@gmail.com</li>
                <li><span>Phone Number:</span>9864207622</li>
              </ul>
            </div>
            <div class="faculties-profile">
              <h1 class="heading">Faculties Details</h1>
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>9874201761</td>
                  </tr>
                  <tr>
                    <td>Will Smith</td>
                    <td>smith@gmail.com</td>
                    <td>8632109651</td>
                  </tr>
                  <tr>
                    <td>Larry the Bird</td>
                    <td>larry@gmail.com</td>
                    <td>86377096071</td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>john@gmail.com</td>
                    <td>9874201761</td>
                  </tr>
                  <tr>
                    <td>Larry the Bird</td>
                    <td>larry@gmail.com</td>
                    <td>86377096071</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="img/attendance.png" alt="">
          <div class="card-body">
            <a href="#" class="btn">Attendance</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="img/assignment.png" alt="">
          <div class="card-body">
            <a href="#" class="btn">Assignments</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="img/report.png" alt="">
          <div class="card-body">
            <a href="#" class="btn">Marks</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>