<% layout('layouts/boilerplate')%>

<section>
    <div class="image">
        <img src="img/lab.jpeg" class="img-fluid">
    </div>
    <div class="container">
        <div class="main-container">
            <h1 class="heading"><%= student.name %></h1>
            <ul>
                <li><span>Registration Number: </span><%= student.registrationNumber %></li>
                <li><span>Roll Number: </span><%= student.rollNumber %></li>
                <li><span>Year: </span><%= student.year %></li>
                <li><span>Branch: </span><%= student.branch %></li>
                <li><span>Phone Number: </span><%= student.phoneNumber %></li>
                <li><span>Email: </span><%= student.email %></li>
                <li><span>Address: </span>
                <ul>
                    <li><span>Street Number: </span><%= student.street %></li>
                    <li><span>Landmark: </span><%= student.landmark %></li>
                    <li><span>City: </span><%= student.city %></li>
                    <li><span>State: </span><%= student.state %></li>
                    <li><spanCountry: ></span><%= student.country %></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</section>